
<% if node.rows %>
  <% node.rows.each_with_index do |row, row_index| %>
    <% row_address = "#{node.address}-#{row_index}" %>
    <div class="row-fluid" id="<%= row.address %>">

      <% if row.layout %>
        <%= partial(row.layout.to_sym, :locals => { :content => row.content }) %>
      <% else %>
        <%= partial(:one_col, :locals => { :content => row.content }) %>
      <% end %>

    </div><!-- eo <%= row_address %> -->
  <% end %>

  <ul class="row-fluid next_prev">
      <% if node.prev_node.class.name != 'Hierarchy' %>
      <li class="prev-link pull-left">
        <a href="#<%= node.prev_node.url %>" target="<%= node.prev_node.target %>" class="btn">
          &laquo; previous
        </a>
      </li>
      <% end %>
      <% if node.next_node.class.name != 'Hierarchy' %>
        <li class="next-link pull-right">
          <a href="#<%= node.next_node.url %>" target="<%= node.next_node.target %>" class="btn">
            next &raquo;
          </a>
        </li>
      <% end %>
  </ul>
<% end %>
