
        <div id="breadcrumbs">
          <ol>
            <li><a href="/ash/oah/oah-initiatives/index.html">OAH Initiatives</a></li>
            <li class="current"><a href="/ash/oah/oah-initiatives/tpp/index.html"><%= data.site.title %></a></li>
          </ol>
        </div>

        <div class="hgroup">
          <h1 class="tk-proxima-nova"><%= data.site.title %></h1>
        </div>

        <div class="entry-content">

        <!-- 
        BELOW is dojo4-provided content; ABOVE is Trilogy template content
        -->

        <%= javascript_include_tag 'jquery.scrollTo-1.4.2-min.js', 'application', 'jquery.ba-hashchange.min' %>

        <div id="chapters" class="tabs">


          <% hierarchy = get_hierarchy %>

          <ul class="chapter-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <% hierarchy.chapters.each do |chapter| %>
              <li><a target="<%= chapter.target %>" href="#<%= chapter.url %>"><%= chapter.title %></a></li>
            <% end %>
          </ul>

          <% hierarchy.chapters.each do |chapter| %>
            <div id="<%= chapter.url %>" class="tab">

              <h2 class="tk-proxima-nova chapter-title">
                <span class="dojofore"><%= chapter.icon %></span><strong><%= chapter.title %></strong><% if chapter.subtitle %>: <%= chapter.subtitle %><% end %>
              </h2>
          
              <div id="sections" class="tabs">

                <ul class="section-nav clearfix">
                <% chapter.sections.each do |section| %>
                  <li><a target="<%= section.target %>" href="#<%= section.url %>"><%= section.title %></a></li>
                <% end %>
                </ul>

                <% chapter.sections.each do |section| %>

                  <div id="<%= section.url %>" class="tab ui-tabs-panel">
                    <div class="pad">
                      <div class="row-fluid">

                      <% if section.subsections.empty? %> 

                        <%= partial(:rows, :locals => { :node => section }) %>

                      <% else %>

                        <div id="subsections" class="tabs">

                          <ul>
                          <% section.subsections.each do |subsection| %>
                            <li><a target="<%= subsection.target %>" href="#<%= subsection.url %>"><%= subsection.title %></a></li>
                          <% end %>
                          </ul>

                          <% section.subsections.each do |subsection| %>

                            <div id="<%= subsection.url %>" class="tab ui-tabs-panel">

                            <%= partial(:rows, :locals => { :node => subsection }) %>

                            </div><!-- eo #<%= subsection.url %> -->
                          <% end %>

                        </div><!-- eo #subsections -->


                      <% end %>

                      </div><!-- eo .row-fluid -->
                    </div><!-- eo .pad -->
                  </div><!-- eo #<%= section.url %> -->

                <% end %>

              </div><!-- eo #sections -->
            </div><!-- eo #<%= chapter.url %> -->
          <% end %>
        </div><!-- eo #chapters -->

        <!-- 
        ABOVE is dojo4-provided content; BELOW is Trilogy template content
        -->

        </div><!-- eo .entry-content -->
