        <div id="breadcrumbs">
          <ol>
            <li><a href="/ash/oah/oah-initiatives/index.html">OAH Initiatives</a></li>
            <li class="current"><a href="/ash/oah/oah-initiatives/tpp/index.html"><%= data.site.title %></a></li>
          </ol>
        </div>

        <div class="hgroup">
          <h1 class="tk-proxima-nova"><%= data.site.title %></h1>
        </div>

        <div class="entry-content">

        <!-- 
        BELOW is dojo4-provided content; ABOVE is Trilogy template content
        -->

        <%= javascript_include_tag 'application', 'jquery.ba-hashchange.min' %>

        <div id="chapters" class="tabs">

          <ul class="chapter-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <% data.chapters.each_with_index do |chapter, chapter_index| %>
              <li>
                <a href="#chapter<%= chapter_index %>"><%= chapter.title %></a>
              </li>
            <% end %>
          </ul>

          <% data.chapters.each_with_index do |chapter, chapter_index| %>

            <div id="chapter<%= chapter_index %>" class="tab">

              <h1 class="tk-proxima-nova">
                <%= chapter.title %><% if chapter.subtitle %>: <%= chapter.subtitle %><% end %>
              </h1>
          
              <div id="sections" class="tabs">

                <ul class="section-nav clearfix">
                <% chapter.sections.each_with_index do |section, section_index| %>
                  <% section_index = section_index + 1 %>
                  <li><a href="#section<%= section_index %>"><%= section.title %></a></li>
                <% end %>
                </ul>

                <% chapter.sections.each_with_index do |section, section_index| %>
                  <% section_index = section_index + 1 %>
                  <div id="section<%= section_index %>" class="tab ui-tabs-panel">
                    <div class="pad">
                      <% if section.layout == 'two_col' %>
                        <%= partial(:two_col, :locals => { :section => section }) %>
                      <% else %>
                        <%= partial(:one_col, :locals => { :section => section }) %>
                      <% end %>

                      <% if section.subsections %> 
                        <div id="subsections" class="tabs">

                          <ul>
                          <% section.subsections.each_with_index do |subsection, subsection_index| %>
                            <% subsection_index = subsection_index + 1 %>
                            <li><a href="#subsection<%= subsection_index %>"><%= subsection.title %></a></li>
                          <% end %>
                          </ul>

                          <% section.subsections.each_with_index do |subsection, subsection_index| %>
                            <% subsection_index = subsection_index + 1 %>
                            <div id="subsection<%= subsection_index %>" class="tab ui-tabs-panel">
                              <% if subsection.layout %>
                                <%= textile_format(subsection.content) %>
                              <% end %>
                            </div><!-- eo #subsection<%= subsection_index %> -->
                          <% end %>

                        </div><!-- eo #subsections -->
                      <% end %>

                    </div><!-- eo .pad -->
                  </div><!-- eo #section<%= section_index %> -->

                <% end %>

              </div><!-- eo #sections -->
            </div><!-- eo #chapter<%= chapter_index %> -->
          <% end %>
        </div><!-- eo #chapters -->

        <!-- 
        ABOVE is dojo4-provided content; BELOW is Trilogy template content
        -->

        </div><!-- eo .entry-content -->
