        <div id="breadcrumbs">
          <ol>
            <li><a href="/ash/oah/oah-initiatives/index.html">OAH Initiatives</a></li>
            <li class="current"><a href="/ash/oah/oah-initiatives/tpp/index.html"><%= data.site.title %></a></li>
          </ol>
        </div>

        <div class="hgroup">
          <h1 class="tk-proxima-nova"><%= data.site.title %></h1>
        </div>

        <div class="entry-content">

        <!-- 
        BELOW is dojo4-provided content; ABOVE is Trilogy template content
        -->

        <%= javascript_include_tag 'application', 'jquery.ba-hashchange.min' %>

        <div id="chapters" class="tabs">

          <ul class="chapter-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <% data.chapters.each_with_index do |chapter, chapter_index| %>
              <% rows = chapter_index.to_s %>
              <li>
                <a href="#chapter-<%= rows %>"><%= chapter.title %></a>
              </li>
            <% end %>
          </ul>

          <% data.chapters.each_with_index do |chapter, chapter_index| %>
            <% rows = chapter_index.to_s %>

            <div id="chapter-<%= rows %>" class="tab">

              <h2 class="tk-proxima-nova chapter-title">
                <span class="dojofore"><%= chapter.icon %></span><strong><%= chapter.title %></strong><% if chapter.subtitle %>: <%= chapter.subtitle %><% end %>
              </h2>
          
              <div id="sections" class="tabs">

                <ul class="section-nav clearfix">
                <% chapter.sections.each_with_index do |section, section_index| %>
                  <% section_index = section_index + 1 %>
                  <% rows = chapter_index.to_s + '-' + section_index.to_s %>
                  <li><a href="#section-<%= rows %>"><%= section.title %></a></li>
                <% end %>
                </ul>

                <% chapter.sections.each_with_index do |section, section_index| %>
                  <% section_index = section_index + 1 %>
                  <% rows = chapter_index.to_s + '-' + section_index.to_s %>

                  <div id="section-<%= rows %>" class="tab ui-tabs-panel">
                    <div class="pad">
                      <div class="row-fluid">

                      <% if section.subsections %> 
                        <div id="subsections" class="tabs">

                          <ul>
                          <% section.subsections.each_with_index do |subsection, subsection_index| %>
                            <% subsection_index = subsection_index + 1 %>
                            <% rows = chapter_index.to_s + '-' + section_index.to_s + '-' + subsection_index.to_s %>
                            <li><a href="#subsection-<%= rows %>"><%= subsection.title %></a></li>
                          <% end %>
                          </ul>

                          <% section.subsections.each_with_index do |subsection, subsection_index| %>
                            <% subsection_index = subsection_index + 1 %>
                            <% rows = chapter_index.to_s + '-' + section_index.to_s + '-' + subsection_index.to_s %>

                            <div id="subsection-<%= rows %>" class="tab ui-tabs-panel">

                            <%= partial(:rows, :locals => { :rows => rows }) %>

                            </div><!-- eo #subsection<%= subsection_index %> -->
                          <% end %>

                        </div><!-- eo #subsections -->
                      <% 
                        else 
                          concat(partial(:rows, :locals => { :rows => rows })) 
                        end 
                      %>

                      </div><!-- eo .row-fluid -->
                    </div><!-- eo .pad -->
                  </div><!-- eo #section<%= section_index %> -->

                <% end %>

              </div><!-- eo #sections -->
            </div><!-- eo #chapter<%= chapter_index %> -->
          <% end %>
        </div><!-- eo #chapters -->

        <!-- 
        ABOVE is dojo4-provided content; BELOW is Trilogy template content
        -->

        </div><!-- eo .entry-content -->
